.vscode
__pycache__
.pytest_cache
.tool-versions
.venv
.env
dist
build
tests/home/.s3-backup/logs/*
!/tests/home/.s3-backup/logs/myprofile/.gitkeep
tests/home/restore/*
!/tests/home/restore/.gitkeep
/s3_backup.egg-info
