.vscode
__pycache__
.pytest_cache
.venv
s3_backup/tests/config/secrets.yaml
s3_backup/tests/restore/*
!/s3_backup/tests/restore/.gitkeep
s3_backup/tests/logs/*
!/s3_backup/tests/logs/.gitkeep
/dist
/s3_backup.egg-info
