.vscode
__pycache__
.pytest_cache
.tool-versions
.venv
.env
/dist
tests/home/.s3-backup/logs/*
!/tests/home/.s3-backup/logs/myprofile/.gitkeep
tests/home/.s3-backup/restore/*
!/tests/home/.s3-backup/restore/.gitkeep
/s3_backup.egg-info
